.highlight {
}
.highlight pre {
  width: 100%;
  background-color: #000;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  font-size: 12px;
  font-family: monospace;
}

.sidebar-about h1 {
  font-size: 1.5rem;
}

ul.posts .description {
  font-size: 0.9em;
  font-style: italic;
}

.sidebar-nav-item {
  display: inline;
}

/* stylize the menu when we're on a small screen */
.sidebar-nav-item:first-child:before {
  content: "[ ";
}
.sidebar-nav-item:after {
  content: ", ";
}
.sidebar-nav-item:last-child:after {
  content: " ]";
}

@media (min-width: 48em) {
  .sidebar-nav-item {
    display: block;
  }
  .sidebar-nav-item:after {
    display: block;
    content: "";
  }
  .sidebar-nav-item:first-child:before {
    content: "";
  }
  .sidebar-nav-item:last-child:after {
    content: "";
  }

}
